#botoneraPrincipal{ 
    display:inline;
    flex-direction:row;
    justify-content:space-between;
    align-items:flex-start;
    list-style:none;
    list-style-type: none;
    padding: 30px;
    margin: 100px;
    text-align: center;

   


}
.enlace{
    position: relative;
    display: inline-block;
    text-decoration: none;
    padding: 1px;
    width: 200px;
    text-align: center;
    background-color:black;
    text-decoration: none; 
    text-transform: uppercase; 
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;

}


li :hover{color:rgb(236, 236, 226);}
* {
    box-sizing: border-box;
}
hr{
    height: 1px;
    background-color:yellow;
  

   
    
}
body {
    background:black;
    color:whitesmoke;
    line-height: 1.6;
    font-family: 'Bebas Neue', cursive;
    padding: 0 1.5em;
}

.container {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
   
    background-color:black;
    
}

ul {
    list-style: none;
    padding: 0;
}

.logo {
    text-align: center;
    font-size: 3em;
}

.contacto{
    background:rgba(131, 183, 27, 0.607);
    text-align: center;
    border-style: solid;
    border-radius: 10px;
    padding: 2em;
}

.contacto form {
    display: grid;
    grid-template-columns: 2fr 2fr;
}

.contacto-form form label {
    display: inline-flexbox;
}

.contacto-form form p {
    margin: 0;
    padding: 1em;
}
.contacto-info {
    background:black;
    
}

.contacto-info h4, .contacto-info ul, .contacto-info p {
    text-align: center;
    padding-top: 100px;
}
.boton2{
  padding: 9px; 
   

    
}
.titulo1{
    margin: 0 0 1em;
    padding: 1em 0;
    font-weight: 300;
    color:whitesmoke;
}
.tarjeta1 a{
    
    text-decoration: none;
    
}
.tarjeta1 a:hover{
    box-shadow: 3px 3px 8px hsl(0, 0%, 70%);
}
.tarjeta1-content h2{
    margin-top: 10px;
    margin-bottom:auto;
    font-weight: normal;
    border-radius: 50px; 
    border-style: solid;
    display:flexbox;
    border-color:white;
    font-size: 20px;
    text-align: center;
}
.tarjeta1-content p{
    font-size: auto
}
figure{
    margin: 0;
}
img{
    display: block;
    width: 100%;
    height: auto;
    border-radius: 10;
}

.tarjeta1{

    margin-bottom: auto;
    width: 33%;
    border-radius: 10px;
    border-color: white;
    border-style: solid;
    
}
.tarjeta1 a{
  
    text-decoration: none;
    
}
.tarjeta1 a:hover{
    box-shadow: 3px 3px 8px hsl(0, 0%, 70%);
}
.tarjeta1-content h2{
    margin-top: 10px;
    margin-bottom:auto;
    font-weight: normal;
    border-radius: 60px; 
    border-style: solid;
    display:flexbox;
    border-color:white;
    font-size: 20px;
    text-align: center;
   
}
.tarjeta1-content p{
    font-size: auto}



.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;}
.titulo2{
    text-align:center;
    padding: auto;
    margin-top: auto;
    display:flexbox;
    border-color:yellow;
    font-size: 30px;
}
.subtitulo2{
    text-align: center;
    padding: auto;
    margin: auto;
    display:flexbox;
    font-size: 20px;
    margin-bottom: 10px;
}
.titulos{
    color: yellowgreen;
    text-align:center;
    padding: auto;
    margin-top: auto;
    display:flexbox;
    font-size: 30px;
    background-color: rgb(0, 0, 0);
}
.subtitulo1{
    text-align: center;
    padding: auto;
    margin: auto;
    display:flexbox;
    font-size: 20px;
    margin-bottom: 10px;
}


@media screen and (min-width:53em){
    .centrado{
    margin: 0 auto;
    padding: 0 .6em;
    }
}
.tarjeta3 a{

    text-decoration: none;
    
}
.tarjeta3 a:hover{
    box-shadow: 3px 3px 8px hsl(0, 0%, 70%);
}
.tarjeta3-content h2{
    margin-top: 10px;
    margin-bottom:auto;
    font-weight: normal;
    border-radius: 50px; 
    border-style: solid;
    display:flexbox;
    border-color:white;
    font-size: 20px;
    text-align: center;
   
}
.tarjeta3-content p{
    font-size: auto

}

.tarjeta3 a{

    text-decoration: none;
    
}
.tarjeta3 a:hover{
    box-shadow: 3px 3px 8px hsl(0, 0%, 70%);
}
.tarjeta3{
  
    margin-bottom: auto;
    width: 33%;
    border-radius: 10px;
    border-color: white;
    border-style: solid;
  
}
*/
.tarjeta2 a{

    text-decoration: none;
    
}
.tarjeta2 a:hover{
    box-shadow: 3px 3px 8px hsl(0, 0%, 70%);
}
.tarjeta2-content h2{
    margin-top: 10px;
    margin-bottom:auto;
    font-weight: normal;
    border-radius: 50px; 
    border-style: solid;
    display:flexbox;
    border-color:white;
    font-size: 20px;
    text-align: center;}
 .tarjeta2-content p{
    font-size: auto

}

.tarjeta2 a{

    text-decoration: none;
    
}
.tarjeta2 a:hover{
    box-shadow: 3px 3px 8px hsl(0, 0%, 70%);
}
.tarjeta2{
 
    margin-bottom: auto;
    width: 33%;
    border-radius: 10px;
    border-color: white;
    border-style: solid;
    
}
*/
.tarjeta4 a{

    text-decoration: none;
    
}
.tarjeta4 a:hover{
    box-shadow: 3px 3px 8px hsl(0, 0%, 70%);
}
.tarjeta4-content h2{
    margin-top: 10px;
    margin-bottom:auto;
    font-weight: normal;
    border-radius: 50px; 
    border-style: solid;
    display:flexbox;
    border-color:white;
    font-size: 20px;
    text-align: center;
    
}
.tarjeta4-content p{
    font-size: auto

}

.tarjeta4 a{

    text-decoration: none;
    
}
.tarjeta4 a:hover{
    box-shadow: 3px 3px 8px hsl(0, 0%, 70%);
}
.tarjeta4{
    
    margin-bottom: auto;
    width: 33%;
    border-radius: 10px;
    border-color: white;
    border-style: solid;
   
}
*/
.tarjeta5 a{

    text-decoration: none;
    
}
.tarjeta5 a:hover{
    box-shadow: 3px 3px 8px hsl(0, 0%, 70%);
}
.tarjeta5-content h2{
    margin-top: 10px;
    margin-bottom:auto;
    font-weight: normal;
    border-radius: 50px; 
    border-style: solid;
    display:flexbox;
    border-color:white;
    font-size: 20px;
    text-align: center;
   
}
.tarjeta5-content p{
    font-size: auto

}

.tarjeta5 a{

    text-decoration: none;
    
}
.tarjeta5 a:hover{
    box-shadow: 3px 3px 8px hsl(0, 0%, 70%);
}
.tarjeta5{
    
    margin-bottom: auto;
    margin-top: 20px;
    width: 33%;
    border-radius: 10px;
    border-color: white;
    border-style: solid;
  
}
*/
.tarjeta6 a{

    text-decoration: none;
    
}
.tarjeta6 a:hover{
    box-shadow: 3px 3px 8px hsl(0, 0%, 70%);
}
.tarjeta6-content h2{
    margin-top: 10px;
    margin-bottom:auto;
    font-weight: normal;
    border-radius: 50px; 
    border-style: solid;
    display:flexbox;
    border-color:white;
    font-size: 20px;
    text-align: center;

}
.tarjeta6-content p{
    font-size: auto

}

.tarjeta6 a{

    text-decoration: none;
    
}
.tarjeta6 a:hover{
    box-shadow: 3px 3px 8px hsl(0, 0%, 70%);
}
.tarjeta6{

    margin-bottom: auto;
    width: 33%;
    border-radius: 10px;
    border-color: white;
    border-style: solid;
    
}